<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GSDManagementProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.cts.gsd.servlet.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegistration</display-name>
    <servlet-name>AdminRegistration</servlet-name>
    <servlet-class>com.cts.gsd.servlet.AdminRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegistration</servlet-name>
    <url-pattern>/AdminRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.cts.gsd.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.cts.gsd.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GSDdetail</display-name>
    <servlet-name>GSDdetail</servlet-name>
    <servlet-class>com.cts.gsd.servlet.GSDdetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GSDdetail</servlet-name>
    <url-pattern>/GSDdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTicketRaise</display-name>
    <servlet-name>UserTicketRaise</servlet-name>
    <servlet-class>com.cts.gsd.servlet.UserTicketRaise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTicketRaise</servlet-name>
    <url-pattern>/UserTicketRaise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserDetails</display-name>
    <servlet-name>DisplayUserDetails</servlet-name>
    <servlet-class>com.cts.gsd.servlet.DisplayUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserDetails</servlet-name>
    <url-pattern>/DisplayUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UTRdisplay</display-name>
    <servlet-name>UTRdisplay</servlet-name>
    <servlet-class>com.cts.gsd.servlet.UTRdisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UTRdisplay</servlet-name>
    <url-pattern>/UTRdisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.cts.gsd.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.cts.gsd.servlet.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdate</display-name>
    <servlet-name>AdminUpdate</servlet-name>
    <servlet-class>com.cts.gsd.servlet.AdminUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdate</servlet-name>
    <url-pattern>/AdminUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admindisplayservlet</display-name>
    <servlet-name>Admindisplayservlet</servlet-name>
    <servlet-class>com.cts.gsd.servlet.Admindisplayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admindisplayservlet</servlet-name>
    <url-pattern>/Admindisplayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewhistory</display-name>
    <servlet-name>Viewhistory</servlet-name>
    <servlet-class>com.cts.gsd.servlet.Viewhistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewhistory</servlet-name>
    <url-pattern>/Viewhistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseTicket</display-name>
    <servlet-name>CloseTicket</servlet-name>
    <servlet-class>com.cts.gsd.servlet.CloseTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseTicket</servlet-name>
    <url-pattern>/CloseTicket</url-pattern>
  </servlet-mapping>
</web-app>